<?xml version="1.0"?>
<launch>
    <!-- <args for urdf/> -->
    <arg name="camera_model"         default="OAK-D"       /> <!-- 'zed' or 'zedm' -->
    <arg name="tf_prefix"            default="oak-d"         />
    <arg name="mode"                 default="depth"       />

    <arg name="lrcheck"               default="true"       /> 
    <arg name="extended"              default="false"      /> 
    <arg name="subpixel"              default="true"       />
    <arg name="rectify"               default="true"       />
    <arg name="depth_aligned"         default="true"      />
     <!-- see https://docs.luxonis.com/projects/api/en/latest/components/nodes/stereo_depth/#currently-configurable-blocks for possible combination of optionf for higher fps-->
    <arg name="stereo_fps"            default="15"         />
    <arg name="confidence"            default="200"        />
    <arg name="LRchecktresh"          default="5"          />
    <arg name="monoResolution"        default="720p"       /> 
    <arg name="angularVelCovariance"  default="0"       /> 
    <arg name="linearAccelCovariance" default="0"       /> 

    <!-- launch-prefix="xterm -e gdb (add [- - args] without space) -->
    <node name="rgb_cloud_node" pkg="depthai_examples" type="rgb_cloud_node" output="screen" required="true">
        <param name="tf_prefix"             value="$(arg tf_prefix)"/>
        <param name="mode"                  value="$(arg mode)"/>
        <param name="lrcheck"               value="$(arg lrcheck)"/>
        <param name="extended"              value="$(arg extended)"/>
        <param name="subpixel"              value="$(arg subpixel)"/>
        <param name="rectify"               value="$(arg rectify)" />
        <param name="depth_aligned"         value="$(arg depth_aligned)" />
        <param name="stereo_fps"            value="$(arg stereo_fps)" />
        <param name="confidence"            value="$(arg confidence)" />
        <param name="LRchecktresh"          value="$(arg LRchecktresh)" />
        <param name="monoResolution"        value="$(arg monoResolution)" />
        <param name="angularVelCovariance"  value="$(arg angularVelCovariance)" />
        <param name="linearAccelCovariance" value="$(arg linearAccelCovariance)" />
    </node>            

    <node pkg="nodelet" type="nodelet" name="nodelet_manager"  args="manager" output="screen"/>

    <node pkg="nodelet" type="nodelet" name="depth_image_convertion_nodelet"
        args="load depth_image_proc/convert_metric nodelet_manager">
        <remap from="image_raw" to="/rgb_cloud_node/stereo/depth"/>    
        <remap from="image" to="/rgb_cloud_node/stereo/image"/>
    </node>

    <node if="$(eval arg('depth_aligned') == true)" pkg="nodelet" type="nodelet" name="depth_image_to_rgb_pointcloud"
        args="load depth_image_proc/point_cloud_xyzrgb nodelet_manager">
        <remap from="rgb/camera_info" to="/rgb_cloud_node/color/camera_info"/>
        <remap from="rgb/image_rect_color" to="/rgb_cloud_node/color/image"/>
        <remap from="depth_registered/image_rect" to="/rgb_cloud_node/stereo/image"/>    
        <remap from="depth_registered/points" to="/rgb_cloud_node/stereo/points"/>
    </node>

</launch>

